<nav class="navbar navbar-expand-md bg-body-tertiary border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-brands fa-airbnb"></i></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-between"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/listings">Explore</a>
        </li>

      </ul>
      <div>
        <form class="d-flex mb-2" role="search" action="/listings/search" method="post">
          <input
            class="form-control me-2 rounded-pill"
            type="search"
            placeholder="Search"
            aria-label="Search"
            name="search"
          />
          <button class="btn btn-outline-success rounded-pill px-3" type="submit">Search</button>
        </form>
      </div>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item" >
          <a class="nav-link" href="/listings/newPlace">Airbnb your home</a>
        </li>
        <% if (!currentUser) { %>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/signup"><b>SignUp</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login"><b>Login</b></a>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/logout"><b>Logout</b></a>
          </li>
        <% } %>
      </ul>
      
 
    </div>
  </div>
</nav>
