<% layout('/layouts/boilerplate') -%>
<body>
  <h2 id="newplace-heading">New Place</h2>
  <form action="/listing" method="post" novalidate class="needs-validation">
    <div class="newform-field">
      <label for="title">Title</label>
      <input type="text" name="listing[title]" id="title" required />
      <div class="valid-feedback">Title Looks good!</div>
      <div class="invalid-feedback">Please choose a Title.</div>
    </div>
    <div class="newform-field">
      <label for="image">Image</label>
      <input type="url" name="listing[image]" id="image"/>
    </div>

    <div class="newform-field">
      <label for="description">Description</label>
      <textarea
      style="min-height: 25px;"
        name="listing[description]"
        cols="30"
        rows="5"
        id="description"
        required
        minlength="50"
      ></textarea>
      <div class="valid-feedback">Discription Looks good!</div>
      <div class="invalid-feedback">Please add valid Discription.</div>
    </div>

    <div class="newform-field">
      <label for="price">Price</label>
      <input type="text" id="price" name="listing[price]" required />
      <div class="valid-feedback">Price is valid</div>
      <div class="invalid-feedback">Please add valid Price.</div>
    </div>

    <div class="newform-field">
      <label for="location">Location</label>
      <input type="text" name="listing[location]" id="location" required />
      <div class="valid-feedback">Valid location!</div>
      <div class="invalid-feedback">Please add Valid Location.</div>
    </div>

    <div class="newform-field">
      <label for="country">Country</label>
      <input type="text" name="listing[country]" id="country" required />
      <div class="valid-feedback">Country Looks valid!</div>
      <div class="invalid-feedback">Please choose a country.</div>
    </div>

    <button class="add-btn" type="submit">ADD</button>
  </form>
</body>
<!-- <script src="/JavaScript/script.js"></script> -->