.newform{
    width: 70vw;
}
@media screen and (max-width: 650px) {
    .newform{
width: 90vw;
  }
  }

.newform-field{
    width: 100%;
    padding: 10px;
    margin: 0px 0px 10px 0px;
    height: 70px;
    display: flex;
    flex-direction: column;
}

#newplace-heading{
    text-align: center;
}

.add-btn{
   padding:5px 30px;
   font-size: 18px;
   background-color: rgb(255, 75, 87);
   border-radius: 10px;
   border: 1px solid rgb(255, 75, 87);
   color: white;
   cursor: pointer;
   
    margin-top: 20px;

}